html, body {
    height: 100%;
}
.body-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 6px;
    margin-top: 10px;
}
.header-btn {
    padding: 0 4px;
}
.main {
    display: flex;
    flex-shrink: 0;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-shrink: 0;
}
.search-btns {
    display: flex;
    flex-direction: row;
}
.between {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}
.footer {
    flex-shrink: 0;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.location {
    padding: 15px 30px;
    border-bottom: 1px solid black;
}
.footer-bottom {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
