#body-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.search-btns {
    display: flex;
    flex-direction: row;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
